.careers {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 69dvh;
  /* justify-content: center; */
}

.careers h1 {
  margin: 1rem 0;
  display: flex;
  place-items: center;
  gap: 1rem;
  font-weight: bold;
}

.open-positions {
  position: relative;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
}

.open-positions .position {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0px #d8d7d7;
  max-width: 30rem;
}

.open-positions div .title {
  margin: 0.5rem 0;
}

.careers-action {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.careers-action button {
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 4px;
  width: fill-content;
  color: var(--text-color);
}

.careers-action .closed {
  color: var(--secondary-color);
  cursor: default;
}

.careers-action .open {
  color: green;
}

/* Small Size */
@media screen and (max-width: 576px) {
  .open-positions {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 8px;
  }

  .apply-help {
    padding: 0 !important;
  }
}
