.statement {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    gap: 2rem;
}

.statement div {
    position: relative;
    width: 70%;
}