.statement {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    gap: 2rem;
}

.statement div {
    position: relative;
    width: 70%;
}


/* Medium Size */
@media screen and ( max-width: 992px) {
    .statement div {
        position: relative;
        width: 80%;
    }
}

/* Tablet Size */
@media screen and ( max-width: 768px) {
    .statement div {
        position: relative;
        width: 90%;
    }
}

/* Small Size */
@media screen and ( max-width: 576px) {
    .statement div {
        position: relative;
        width: 100%;
    }
}