.footer {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    background-color: rgb(68, 68, 99);
    color: #fff;
}
.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 20%);    
    height: 150px;
    gap: 4px;
    justify-content: center;
    height: 30vh;
}

.footer-content div {
    position: relative;
    padding: 0.5rem;
    list-style: none;
    display: flex;  
    flex-direction: column;
    justify-content: space-evenly;
}

.bottom {
    display: flex;
    justify-content: center;    
    background-color:rgb(50, 50, 82);
    color: #fff;
    gap: 2rem;
    padding: 0.3rem;
}
