.side-nav {
  width: 90%;
  background-color: var(--primary-color);
  padding: 3rem;
  border-radius: 3rem;
  height: inherit;
}

.link {
  text-decoration: none;
  color: #fff;
  /* text-align: center; */
  /* justify-content: center; */
  display: flex;
  cursor: pointer;
}

.link-div {
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.link-div * {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .link-div:hover {
  background-color: var(--background-color);
  border-radius: 0.2rem;
  color: var(--text-color) !important;
} */
