.items {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;   
}

.items-no-scroll {
    scroll-snap-align: center;
}