@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  --primary-color:#0072bb;
  --secondary-color:#f35e19;
  --text-color: #4c516d;
  --text-dark:black;
  /* --background-color:#e3e9f7; */
  --background-color:#fff;
  --xlarge-text:2.5rem;
  --large-text:1.6rem;
  --medium-text:1.1rem;
  --normal-text:1rem;
  --small-text:0.9rem;
  --xsmall-text:0.8rem;
  --standard-dimension:0.5rem;
  --font-weight-bold:500;
  --font-weight-normal:400;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: var(--normal-text);
  line-height: 1.68;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-weight: 400;
}

h2,h3 {
  font-weight: 300;
}

body {
  margin: 0;
  color: var(--text-color);
}


::-webkit-scrollbar {
  width: 5px;
}

/* For thumb or draggable handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: gray; /* Color of the scrollbar thumb */
  border-radius: 1rem;
}

/* For track or the area behind the thumb */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}